<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>

    <p>Welcome to your dashboard!</p>

    <a href="{{ url_for('upload') }}">Upload File</a>
    <br>
    <a href="{{ url_for('timeline')}}"> View Timeline</a>
    <br>
    <a href="{{ url_for('logout') }}">Logout</a>
    <br>
    <a href="{{ url_for('home') }}">Back Home</a>

    <hr>

    <h2>Your Events</h2>

<a href="{{ url_for('create_event') }}">
    Create New Event
</a>

<br><br>


{% if events %}
    {% for event in events %}
    <div>
        <h3>{{ event[1] }}</h3>
        <p>{{ event[2] }}</p>

        <h4>Guest Upload QR Code:</h4>

        <img 
            src="{{ url_for('static', filename='qrcodes/' + event[3] + '.png') }}"
            width="200"
        >

        <br><br>

        <a href="{{ url_for('event_page', event_id=event[0]) }}">
            View Event
        </a>

        <br><br>

        <a href="{{ url_for('upload', event_id=event[0]) }}">
            Add Media
        </a>

    </div>

    <hr>

    {% endfor %}

{% else %}
    <p>No events created yet.</p>
{% endif %}
    <hr>

</body>
</html>
