<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Timeline</title>
</head>
<body>
    <h1>Event Timeline</h1>

    <p>This page should show upload timestamps for each file.</p>

    <a href="{{ url_for('dashboard') }}">Back to Dashboard</a>
    <br>
    <a href="{{ url_for('logout') }}">Logout</a>
    <br>
    <a href="{{ url_for('home') }}">Back Home</a>
    <br>
    <a href="{{ url_for('upload' )}}"> Upload more media</a>

    <hr>

    {% if files %}
        {% for file in files %}
        <div>
            <h3>{{ file.name }}</h3>
            <p>Uploaded: {{ file.uploaded_at }}</p>

            {% if file.is_video %}
                <video width="300" controls>
                    <source src="{{ file.url }}">
                </video>
            {% else %}
                <img src="{{ file.url }}" alt="{{ file.filename }}" width="300">
            {% endif %}
        </div>
        <hr>
    {% endfor %}
    {% else %}
        <p>No files uploaded yet.</p>
    {% endif %}
</body>
</html>
